/* Estilo geral do container
.register-container {
  padding: 2rem;
  font-family: "Arial", sans-serif;
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

.register-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.input-field {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.register-button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.register-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 650px) {
  .register-container {
    padding: 1rem;
  }

  .register-form {
    padding: 1.5rem;
    max-width: 350px;
  }
} */
